<div class="contact">
  <div id="indulge">
    LET'S INDULGE IN OUR MUTUAL LOVE FOR ALL THINGS <br>PAPER+SOUL.
  </div>
  <div id="xoxo">
    <%= image_tag("xoxo.png") %>
  </div>
  <div id="julia_grace">
    JULIA GRACE
  </div>
  <div>
    <ul>
      <li>
        <%= mail_to("julia@papersoulnyc.com", image_tag("square/email.png")) %>
        <%= mail_to("julia@papersoulnyc.com", 'julia@papersoulnyc.com') %>
      </li>
      <li>
        <%= link_to image_tag("square/facebook.png"), "http://facebook.com/papersoulnyc" %>
        <%= link_to 'facebook.com/papersoulnyc', "http://facebook.com/papersoulnyc" %>
      </li>
      <li>
        <%= link_to image_tag("square/instagram.png"), "http://instagram.com/papersoulnyc" %>
        <%= link_to 'instagram.com/papersoulnyc', "http://instagram.com/papersoulnyc" %>
      </li>
      <li>
        <%= link_to image_tag("square/twitter.png"), "http://twitter.com/papersoulnyc" %>
        <%= link_to 'twitter.com/papersoulnyc', "http://twitter.com/papersoulnyc" %>
      </li>
      <li>
        <%= link_to image_tag("square/pinterest.png"), "http://pinterest.com/papersoulnyc" %>
        <%= link_to 'pinterest.com/papersoulnyc', "http://pinterest.com/papersoulnyc" %>
      </li>
    </ul>
  </div>
  <div>
    Email, like, follow me, or do all the above!
  </div>
</div>