<div class="contact">
  <div id="indulge">
    LET'S INDULGE IN OUR MUTUAL LOVE FOR <br>ALL THINGS PAPER+SOUL.
  </div>
  <div id="xoxo">
    <%= image_tag("xoxo.png") %>
  </div>
  <div id="julia_grace">
    JULIA GRACE
  </div>
  <div>
    <ul>
      <li>
        <%= mail_to("julia@papersoul.co", image_tag("square/email.png")) %>
        <%= mail_to("julia@papersoul.co", 'julia@papersoul.co') %>
      </li>
      <li>
        <%= link_to image_tag("square/facebook.png"), "http://facebook.com/papersoulco" %>
        <%= link_to 'facebook.com/papersoulco', "http://facebook.com/papersoulco" %>
      </li>
      <li>
        <%= link_to image_tag("square/instagram.png"), "http://instagram.com/papersoulco" %>
        <%= link_to 'instagram.com/papersoulco', "http://instagram.com/papersoulco" %>
      </li>
      <li>
        <%= link_to image_tag("square/twitter.png"), "http://twitter.com/papersoulco" %>
        <%= link_to 'twitter.com/papersoulco', "http://twitter.com/papersoulco" %>
      </li>
      <li>
        <%= link_to image_tag("square/pinterest.png"), "http://pinterest.com/papersoulco" %>
        <%= link_to 'pinterest.com/papersoulco', "http://pinterest.com/papersoulco" %>
      </li>
    </ul>
  </div>
  <div>
    Email, like, follow me, or do all the above!
  </div>
</div>