<div class="row images images-home">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/98.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/97.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/96.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/94.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/93.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/92-1.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/92-0.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/91.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/60.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/58.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/57.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/54.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/102.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/101.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/100.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/99.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/51.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/50.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/49.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/46.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/45.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/44.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/43.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/42.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/41.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/40.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/39.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/34.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/33.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/32.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/30.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/29.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/28.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/27.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/25.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/24.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/23.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/22.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/21.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/20.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/19.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/18.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/14.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/13.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/12.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/10.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/06.jpg") %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <%= image_tag("portfolio/04.jpg") %>
  </div>
</div>