<div class="row images">
  <div class="footer">
    <!-- <div class="row"> -->
      <ul>
        <li>&copy; 2014 PAPERSOUL. ALL RIGHTS RESERVED.</li>
        <li>
          <%= mail_to("julia@papersoulco.com", image_tag("email.png")) %>
          <%= link_to image_tag("facebook.png"), "http://facebook.com/papersoulco" %>
          <%= link_to image_tag("instagram.png"), "http://instagram.com/papersoulco" %>
          <%= link_to image_tag("twitter.png"), "http://twitter.com/papersoulco" %>
          <%= link_to image_tag("pinterest.png"), "http://pinterest.com/papersoulco" %>
          <%= link_to image_tag("dribbble.png"), "http://dribbble.com/papersoulco" %>
        </li>
      </ul>
    <!-- </div> -->
  </div>
<div class="row">