<div class="footer">
  <div class="row">
    <ul>
      <li>&copy; 2014 PAPERSOULNYC. All rights reserved.</li>
      <li><%= link_to image_tag("dribbble.png"), "http://dribbble.com/papersoulnyc" %></li>
      <li><%= link_to image_tag("pinterest.png"), "http://pinterest.com/papersoulnyc" %></li>
      <li><%= link_to image_tag("twitter.png"), "http://twitter.com/papersoulnyc" %></li>
      <li><%= link_to image_tag("instagram.png"), "http://instagram.com/papersoulnyc" %></li>
      <li><%= link_to image_tag("facebook.png"), "http://facebook.com/papersoulnyc" %></li>
      <li><%= mail_to("julia@papersoulnyc.com", image_tag("email.png")) %></li>
    </ul>
  </div>
</div>